@let chordsState = chordsStore | async;

<form id="chordsHandbook-container">
  <section id="handbookColumn">
    <h2 id="sectionTitle">{{ 'handbook_title' | translate }}</h2>

    <p class="subtitle">{{ 'handbook_subtitle' | translate }}</p>
    <details class="howTo">
      <summary>{{ 'how_it_works' | translate }}</summary>
      <p>{{ 'handbook_description' | translate }}</p>
    </details>

    <form id="formSection" [formGroup]="chordRequestForm">
      <div id="inputSection">
        <app-input-selector
          class="input"
          [name]="'note'"
          [selection]="chordRequestForm.controls['note']"
          [placeholder]="'progression_prompt' | translate"
          [options]="notes"
        ></app-input-selector>
        <app-input-selector
          class="input"
          [selection]="chordRequestForm.controls['form']"
          [name]="'form'"
          [options]="forms"
        ></app-input-selector>
      </div>
      <div id="buttonsSection">
        <app-submit-button
          [loading]="chordsState?.loading ?? false"
          (click)="getAllFormsChord(chordsState?.loading ?? false)"
          id="getAllFormsChord"
          [disabled]="disableRequestButton(chordsState?.loading ?? false)"
          [disabledHint]="'handbook_get_chords_disabled_hint' | translate"
          [label]="'handbook_get_chords' | translate"
          [icon]="'search'"
        ></app-submit-button>
        <app-submit-button
          (click)="addNewChord(chordsState?.loading ?? false, chordsState?.handbookChordsSelected ?? -1)"
          id="addNewChord"
          [icon]="'add'"
          [disabled]="disableAddButton(chordsState?.loading ?? false, chordsState?.handbookChordsSelected ?? -1)"
          [disabledHint]="'handbook_add_chord_disabled_hint' | translate"
          [label]="'handbook_add_chord' | translate"
        ></app-submit-button>
      </div>
    </form>
    <app-chords-grid id="handbookChords"></app-chords-grid>
  </section>
  <section id="currentChordsColumn">
    <h3>{{ 'my_chords' | translate }}</h3>
    <app-chords-grid [forceOnlyCurrentChordsToBeShown]="true"></app-chords-grid>
  </section>
</form>
