@let chordsState = chordsStore | async;

<form id="chordsOptions-container">
  <section id="optionsColumn">
    <h2 id="sectionTitle">{{ 'exchanger_title' | translate }}</h2>
    <p class="subtitle">{{ 'exchanger_subtitle' | translate }}</p>
    <details class="howTo">
      <summary>{{ 'how_it_works' | translate }}</summary>
      <p>{{ 'exchanger_description' | translate }}</p>
    </details>
    <div id="buttonsSection">
      <app-submit-button
        [loading]="chordsState?.loading ?? false"
        (click)="!chordsState?.loading && getOtherOptions()"
        id="getOtherOptionsButton"
        [disabled]="chordsState?.loading ?? false"
        [label]="'other_options_button' | translate"
        [icon]="'search'"
      ></app-submit-button>
      <app-submit-button
        (click)="checkExchangeChordIsAvailable(chordsState) && exchangeChords()"
        id="exchangeButton"
        [icon]="'cached'"
        [disabled]="!checkExchangeChordIsAvailable(chordsState)"
        [disabledHint]="'exchanger_button_disabled_hint' | translate"
        [label]="'exchanger_button' | translate"
      ></app-submit-button>
    </div>
    <app-chords-grid id="optionsChords"></app-chords-grid>
  </section>
  <section id="chordsSection">
    <h3>{{ 'my_chords' | translate }}</h3>
    <app-chords-grid [forceOnlyCurrentChordsToBeShown]="true"></app-chords-grid>
  </section>
</form>
